<nav class="menu">
  {% if site.data.menu %}
    {% include menu.liquid list=site.data.menu %}
  {% endif %}
</nav>

<nav class="social">
  {% if site.data.social %}
    {% for link in site.data.social %}
      <a href="{{ link | replace_first: '/', '%%/' | replace: '%%//', '//' | replace: '%%', site.baseurl }}"></a>
    {% endfor %}
  {% endif %}
</nav>
